*.zip
*.json
*.exe
*.txt
*.dad
c-programming.png
/Linguagens de Programação/Aula13/nbproject/private/
/Linguagens de Programação/Aula13/build/
/Linguagens de Programação/Aula14/nbproject/private/
/Linguagens de Programação/Aula14/build/
/LinguagensDeProgramação/Aula15/nbproject/private/
/LinguagensDeProgramação/Aula15/build/
/LinguagensDeProgramação/Aula15_0/build/
/LinguagensDeProgramação/Aula15_0/nbproject/private/
/LinguagensDeProgramação/JogodaVelha/nbproject/private/
/LinguagensDeProgramação/JogodaVelha/build/
/LinguagensDeProgramação/JogodaVelha/dist/
/LinguagensDeProgramação/Brasileirao2021/nbproject/private/
/LinguagensDeProgramação/Brasileirao2021/build/
/LinguagensDeProgramação/Brasileirao2021/dist/
/LinguagensDeProgramação/Aula02PO/nbproject/private/
/LinguagensDeProgramação/Aula02PO/build/
