*.zip
*.json
*.exe
*.txt
*.dad
c-programming.png
/Linguagens de Programação/Aula13/nbproject/private/
/Linguagens de Programação/Aula13/build/
/Linguagens de Programação/Aula14/nbproject/private/
/Linguagens de Programação/Aula14/build/
/LinguagensDeProgramação/Aula15/nbproject/private/
/LinguagensDeProgramação/Aula15/build/
/LinguagensDeProgramação/Aula15_0/build/
/LinguagensDeProgramação/Aula15_0/nbproject/private/
/LinguagensDeProgramação/JogodaVelha/nbproject/private/
/LinguagensDeProgramação/JogodaVelha/build/
/LinguagensDeProgramação/JogodaVelha/dist/
/LinguagensDeProgramação/Brasileirao2021/nbproject/private/
/LinguagensDeProgramação/Brasileirao2021/build/
/LinguagensDeProgramação/Brasileirao2021/dist/
/LinguagensDeProgramação/Aula02PO/nbproject/private/
/LinguagensDeProgramação/Aula02PO/build/
/ModelagemConceitualdeSoftware/agenda/nbproject/private/
/ModelagemConceitualdeSoftware/agenda/build/
/ModelagemConceitualdeSoftware/agenda2/nbproject/private/
/ModelagemConceitualdeSoftware/agenda2/build/
/LinguagensDeProgramação/Aulas/Aula03PO/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula03PO/build/
/LinguagensDeProgramação/Aulas/Aula18/nbproject/private/
/ModelagemConceitualdeSoftware/Aula19/nbproject/private/
/ModelagemConceitualdeSoftware/Aula19/build/
/ModelagemConceitualdeSoftware/agenda/dist/
/LinguagensDeProgramação/Aulas/Aula20/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula20/build/
/LinguagensDeProgramação/Aulas/Aula21/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula21/build/
/LinguagensDeProgramação/Aulas/Aula22/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula22/build/
/ModelagemConceitualdeSoftware/SistemaParaImobiliaria/nbproject/private/
/ModelagemConceitualdeSoftware/SistemaParaImobiliaria/build/
/LinguagensDeProgramação/Aulas/Aula23/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula23/build/
/ModelagemConceitualdeSoftware/Agenda (3)/Agenda/build/
/ModelagemConceitualdeSoftware/Agenda (3)/Agenda/dist/
/ModelagemConceitualdeSoftware/Agenda (3)/Agenda/nbproject/private/
/ModelagemConceitualdeSoftware/SistemaParaImobiliaria/dist/
/ModelagemConceitualdeSoftware/WebApplication1/nbproject/private/
/ModelagemConceitualdeSoftware/WebApplication1/build/
/LinguagensDeProgramação/Aulas/Aula24/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula24/build/
/LinguagensDeProgramação/Aulas/Aula25/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula25/build/
/LinguagensDeProgramação/Aulas/Aula26/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula26/build/
/LinguagensDeProgramação/Aulas/Aula27/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula27/build/
/LinguagensDeProgramação/Aulas/Aula28/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula28/build/
/LinguagensDeProgramação/Aulas/Aula28/dist/
/LinguagensDeProgramação/teste/nbproject/private/
/LinguagensDeProgramação/teste/build/
/LinguagensDeProgramação/Aulas/Aula29/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula29/build/
/LinguagensDeProgramação/Aulas/Aula30/nbproject/private/
/LinguagensDeProgramação/Aulas/Aula30/build/
/LinguagensDeProgramação/ProvaB2/Exercicio1/nbproject/private/
/LinguagensDeProgramação/ProvaB2/Exercicio1/build/
/LinguagensDeProgramação/ProvaB2/Exercicio2/nbproject/private/
/LinguagensDeProgramação/ProvaB2/Exercicio2/build/
/LinguagensDeProgramação/ProvaB2/Exercicio3/nbproject/private/
/LinguagensDeProgramação/ProvaB2/Salario/nbproject/private/
/LinguagensDeProgramação/ProvaB2/Salario/build/
/LinguagensDeProgramação/ProvaB2/Areas/nbproject/private/
/LinguagensDeProgramação/ProvaB2/Areas/build/
/LinguagensDeProgramação/ProvaB2/Pessoas/nbproject/private/
/LinguagensDeProgramação/ProvaB2/Pessoas/build/
/LinguagensDeProgramação/ProvaB2/Estoque/nbproject/private/
/LinguagensDeProgramação/Java/JavaFX/Aula45/target/
/LinguagensDeProgramação/Java/JavaFX/projetovazioFXML - Copia/target/
/LinguagensDeProgramação/Java/JavaFX/Aula46/target/
/LinguagensDeProgramação/Java/JavaFX/Aula46ERRO/target/
/LinguagensDeProgramação/Java/JavaFX/Aula47/target/
/LinguagensDeProgramação/Java/JavaFX/projetovazioFXML/target/
